# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察填補缺值以及 標準化 / 最小最大化 對數值的影響

# [作業重點]
- 觀察替換不同補缺方式, 對於特徵的影響 (In[4]~In[6], Out[4]~Out[6])
- 觀察替換不同特徵縮放方式, 對於特徵的影響 (In[7]~In[8], Out[7]~Out[8])

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import os

data_path = r'C:\Users\z9875\code\ML_100Day_data\day10data'

df_train = pd.read_csv(os.path.join(data_path,'titanic_train.csv'))
df_test = pd.read_csv(os.path.join(data_path,'titanic_train.csv'))


train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test],sort=True)
df.head(10)

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,NaN,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,NaN,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,NaN,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,female,1,NaN,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,NaN,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,3,male,0,NaN,330877
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,1,male,0,NaN,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,3,male,3,NaN,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3,female,0,NaN,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,2,female,1,NaN,237736

In [4]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

6 Numeric Features : ['Age', 'Fare', 'Parch', 'Pclass', 'SibSp', 'Survived']

In [5]:
# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
train_num = train_Y.shape[0]
df.head()

    Age     Fare  Parch  Pclass  SibSp  Survived
0  22.0   7.2500      0       3      1       NaN
1  38.0  71.2833      0       1      1       NaN
2  26.0   7.9250      0       3      0       NaN
3  35.0  53.1000      0       1      1       NaN
4  35.0   8.0500      0       3      0       NaN

# 作業1
* 試著在補空值區塊, 替換並執行兩種以上填補的缺值, 看看何者比較好?

### 空值補平均值

In [7]:
df_m1 = df.fillna(df.mean())
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.699299698877965

### 空值補-1

In [8]:
df_m1 = df.fillna(-1)
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6937763738892334

### 空值補 0

In [13]:
df_m1 = df.fillna(0)
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6971535084032942

# 作業2
* 使用不同的標準化方式 ( 原值 / 最小最大化 / 標準化 )，搭配羅吉斯迴歸模型，何者效果最好?

In [14]:
df_m1 = df.fillna(df.mean())
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.699299698877965

In [15]:
df_m1 = df.fillna(df.mean())
df_temp = MinMaxScaler().fit_transform(df_m1)
train_X = df_temp[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6993501991462476

In [16]:
df_m1 = df.fillna(df.mean())
df_temp = StandardScaler().fit_transform(df_m1)
train_X = df_temp[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6959413955734954